@font-face {
  font-family: 'Oldtimer';
  src: url('/fonts/ofont.ru_Oldtimer.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/ofont.ru_Montserrat Alternates.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
