.root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: vw(70);
  padding: 0 vw(40);

  .title {
    width: vw(1000);
    margin-top: vw(40);

    @include fontType(O);
    font-size: clampSize(12, 42);
    line-height: 1.1;
    letter-spacing: -2.972px;
    text-align: center;

    @include media(smd) {
      width: vw(335);
      font-size: clampSize(12, 40);
    }
  }

  .subContent {
    width: vw(850);
    margin-top: vw(20);

    font-size: clampSize(12, 26);
    line-height: 1;
    text-align: center;

    @include media(smd) {
      width: vw(335);
      font-size: clampSize(12, 20);
    }
  }

  .input {
    margin: vw(40) 0;
  }

  .image {
    width: vw(900);
    height: vw(600);

    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
  }
}

.loader {
  position: fixed;
  bottom: vw(20);
  right: vw(20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: vw(250);
  height: vw(80);
  padding: vw(10) vw(30);
  border: 1px solid white;
  border-radius: 10px;

  z-index: 9999;

  .loadText {
    font-size: clampSize(12, 20);
  }

  .loadIcon {
    width: vw(60);
    height: vw(60);
  }
}

.stats {
  margin-top: vw(50);
}
